store-dir=z:\kurimula-airi\bill-tracker\.pnpm-store
cache-dir=z:\kurimula-airi\bill-tracker\.pnpm-cache
state-dir=z:\kurimula-airi\bill-tracker\.pnpm-state
virtual-store-dir=node_modules/.pnpm
node-linker=hoisted
package-import-method=copy
child-concurrency=1
network-concurrency=4
